<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinchinne.memoservice.dao.MemoDao">




<!--    <select id="getAccountByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultType="AccountDto">-->
<!--        SELECT		 YEAR-->
<!--                    ,MONTH-->
<!--                    ,DAY-->
<!--                    ,SUM( IF(STATUS = 'I', AMOUNT, 0) ) AS INCOME_TOTAL-->
<!--                    ,SUM( IF(STATUS = 'o', AMOUNT, 0) ) AS EXPENSE_TOTAL-->

<!--        FROM		ACCOUNT-->

<!--        WHERE		USER_ID = #{userId}-->
<!--                    AND YEAR = #{year}-->
<!--                    AND MONTH = #{month}-->

<!--        GROUP BY	YEAR, MONTH, DAY-->
<!--    </select>-->
</mapper>